.animacion {
  position: absolute;
  right: 40px;
  top: 40%;

  display: inline-block;
  animation: moveHand 1s ease infinite alternate;
}
.ocultar {
  display: none;
}


@media screen and (min-width: 768px) {
  .animacion {
    display: none;
  }
}
